:root {
  --very-dark-brown-nourish: rgba(83, 58, 21, 1);
  --dark-brown-nourish: rgba(90, 59, 19, 1);
  --light-brown-nourish: rgba(153, 93, 35, 1);
  --orangish-brown-nourish: rgba(173, 102, 58, 1);
  --dark-green-nourish: rgba(25, 57, 36, 1);
  --light-green-nourish: rgba(132, 151, 101, 1);
  --h1-41-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-41-font-weight: 200;
  --h1-41-font-size: 48px;
  --h1-41-letter-spacing: 0px;
  --h1-41-line-height: 139.9999976158142%;
  --h1-41-font-style: normal;
  --h1-36-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-36-font-weight: 200;
  --h1-36-font-size: 48px;
  --h1-36-letter-spacing: 0px;
  --h1-36-line-height: 139.9999976158142%;
  --h1-36-font-style: normal;
  --h1-31-font-family: "VisbyRound CF-Light", Helvetica;
  --h1-31-font-weight: 300;
  --h1-31-font-size: 48px;
  --h1-31-letter-spacing: 0px;
  --h1-31-line-height: 139.9999976158142%;
  --h1-31-font-style: normal;
  --h1-1-font-family: "VisbyRound CF-ExtraBold", Helvetica;
  --h1-1-font-weight: 800;
  --h1-1-font-size: 48px;
  --h1-1-letter-spacing: 0px;
  --h1-1-line-height: 139.9999976158142%;
  --h1-1-font-style: normal;
  --h1-6-font-family: "VisbyRound CF-Medium", Helvetica;
  --h1-6-font-weight: 500;
  --h1-6-font-size: 48px;
  --h1-6-letter-spacing: 0px;
  --h1-6-line-height: 139.9999976158142%;
  --h1-6-font-style: normal;
  --h1-11-font-family: "VisbyRound CF-DemiBold", Helvetica;
  --h1-11-font-weight: 700;
  --h1-11-font-size: 48px;
  --h1-11-letter-spacing: 0px;
  --h1-11-line-height: 139.9999976158142%;
  --h1-11-font-style: normal;
  --h1-16-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-16-font-weight: 700;
  --h1-16-font-size: 48px;
  --h1-16-letter-spacing: 0px;
  --h1-16-line-height: 139.9999976158142%;
  --h1-16-font-style: normal;
  --h1-21-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-21-font-weight: 700;
  --h1-21-font-size: 48px;
  --h1-21-letter-spacing: 0px;
  --h1-21-line-height: 139.9999976158142%;
  --h1-21-font-style: normal;
  --h1-26-font-family: "VisbyRound CF-Heavy", Helvetica;
  --h1-26-font-weight: 400;
  --h1-26-font-size: 48px;
  --h1-26-letter-spacing: 0px;
  --h1-26-line-height: 139.9999976158142%;
  --h1-26-font-style: normal;
  --h1-42-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-42-font-weight: 200;
  --h1-42-font-size: 40px;
  --h1-42-letter-spacing: 0px;
  --h1-42-line-height: 139.9999976158142%;
  --h1-42-font-style: normal;
  --h1-37-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-37-font-weight: 200;
  --h1-37-font-size: 40px;
  --h1-37-letter-spacing: 0px;
  --h1-37-line-height: 139.9999976158142%;
  --h1-37-font-style: normal;
  --h1-32-font-family: "VisbyRound CF-Light", Helvetica;
  --h1-32-font-weight: 300;
  --h1-32-font-size: 40px;
  --h1-32-letter-spacing: 0px;
  --h1-32-line-height: 139.9999976158142%;
  --h1-32-font-style: normal;
  --h1-2-font-family: "VisbyRound CF-ExtraBold", Helvetica;
  --h1-2-font-weight: 800;
  --h1-2-font-size: 40px;
  --h1-2-letter-spacing: 0px;
  --h1-2-line-height: 139.9999976158142%;
  --h1-2-font-style: normal;
  --h1-7-font-family: "VisbyRound CF-Medium", Helvetica;
  --h1-7-font-weight: 500;
  --h1-7-font-size: 40px;
  --h1-7-letter-spacing: 0px;
  --h1-7-line-height: 139.9999976158142%;
  --h1-7-font-style: normal;
  --h1-12-font-family: "VisbyRound CF-DemiBold", Helvetica;
  --h1-12-font-weight: 700;
  --h1-12-font-size: 40px;
  --h1-12-letter-spacing: 0px;
  --h1-12-line-height: 139.9999976158142%;
  --h1-12-font-style: normal;
  --h1-17-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-17-font-weight: 700;
  --h1-17-font-size: 40px;
  --h1-17-letter-spacing: 0px;
  --h1-17-line-height: 139.9999976158142%;
  --h1-17-font-style: normal;
  --h1-22-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-22-font-weight: 700;
  --h1-22-font-size: 40px;
  --h1-22-letter-spacing: 0px;
  --h1-22-line-height: 139.9999976158142%;
  --h1-22-font-style: normal;
  --h1-27-font-family: "VisbyRound CF-Heavy", Helvetica;
  --h1-27-font-weight: 400;
  --h1-27-font-size: 40px;
  --h1-27-letter-spacing: 0px;
  --h1-27-line-height: 139.9999976158142%;
  --h1-27-font-style: normal;
  --h1-43-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-43-font-weight: 200;
  --h1-43-font-size: 33px;
  --h1-43-letter-spacing: 0px;
  --h1-43-line-height: 139.9999976158142%;
  --h1-43-font-style: normal;
  --h1-38-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-38-font-weight: 200;
  --h1-38-font-size: 33px;
  --h1-38-letter-spacing: 0px;
  --h1-38-line-height: 139.9999976158142%;
  --h1-38-font-style: normal;
  --h1-33-font-family: "VisbyRound CF-Light", Helvetica;
  --h1-33-font-weight: 300;
  --h1-33-font-size: 33px;
  --h1-33-letter-spacing: 0px;
  --h1-33-line-height: 139.9999976158142%;
  --h1-33-font-style: normal;
  --h1-3-font-family: "VisbyRound CF-ExtraBold", Helvetica;
  --h1-3-font-weight: 800;
  --h1-3-font-size: 33px;
  --h1-3-letter-spacing: 0px;
  --h1-3-line-height: 139.9999976158142%;
  --h1-3-font-style: normal;
  --h1-8-font-family: "VisbyRound CF-Medium", Helvetica;
  --h1-8-font-weight: 500;
  --h1-8-font-size: 33px;
  --h1-8-letter-spacing: 0px;
  --h1-8-line-height: 139.9999976158142%;
  --h1-8-font-style: normal;
  --h1-13-font-family: "VisbyRound CF-DemiBold", Helvetica;
  --h1-13-font-weight: 700;
  --h1-13-font-size: 33px;
  --h1-13-letter-spacing: 0px;
  --h1-13-line-height: 139.9999976158142%;
  --h1-13-font-style: normal;
  --h1-18-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-18-font-weight: 700;
  --h1-18-font-size: 33px;
  --h1-18-letter-spacing: 0px;
  --h1-18-line-height: 139.9999976158142%;
  --h1-18-font-style: normal;
  --h1-23-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-23-font-weight: 700;
  --h1-23-font-size: 33px;
  --h1-23-letter-spacing: 0px;
  --h1-23-line-height: 139.9999976158142%;
  --h1-23-font-style: normal;
  --h1-28-font-family: "VisbyRound CF-Heavy", Helvetica;
  --h1-28-font-weight: 400;
  --h1-28-font-size: 33px;
  --h1-28-letter-spacing: 0px;
  --h1-28-line-height: 139.9999976158142%;
  --h1-28-font-style: normal;
  --h1-44-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-44-font-weight: 200;
  --h1-44-font-size: 28px;
  --h1-44-letter-spacing: 0px;
  --h1-44-line-height: 139.9999976158142%;
  --h1-44-font-style: normal;
  --h1-39-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-39-font-weight: 200;
  --h1-39-font-size: 28px;
  --h1-39-letter-spacing: 0px;
  --h1-39-line-height: 139.9999976158142%;
  --h1-39-font-style: normal;
  --h1-34-font-family: "VisbyRound CF-Light", Helvetica;
  --h1-34-font-weight: 300;
  --h1-34-font-size: 28px;
  --h1-34-letter-spacing: 0px;
  --h1-34-line-height: 139.9999976158142%;
  --h1-34-font-style: normal;
  --h1-4-font-family: "VisbyRound CF-ExtraBold", Helvetica;
  --h1-4-font-weight: 800;
  --h1-4-font-size: 28px;
  --h1-4-letter-spacing: 0px;
  --h1-4-line-height: 139.9999976158142%;
  --h1-4-font-style: normal;
  --h1-9-font-family: "VisbyRound CF-Medium", Helvetica;
  --h1-9-font-weight: 500;
  --h1-9-font-size: 28px;
  --h1-9-letter-spacing: 0px;
  --h1-9-line-height: 139.9999976158142%;
  --h1-9-font-style: normal;
  --h1-14-font-family: "VisbyRound CF-DemiBold", Helvetica;
  --h1-14-font-weight: 700;
  --h1-14-font-size: 28px;
  --h1-14-letter-spacing: 0px;
  --h1-14-line-height: 139.9999976158142%;
  --h1-14-font-style: normal;
  --h1-19-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-19-font-weight: 700;
  --h1-19-font-size: 28px;
  --h1-19-letter-spacing: 0px;
  --h1-19-line-height: 139.9999976158142%;
  --h1-19-font-style: normal;
  --h1-24-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-24-font-weight: 700;
  --h1-24-font-size: 28px;
  --h1-24-letter-spacing: 0px;
  --h1-24-line-height: 139.9999976158142%;
  --h1-24-font-style: normal;
  --h1-29-font-family: "VisbyRound CF-Heavy", Helvetica;
  --h1-29-font-weight: 400;
  --h1-29-font-size: 28px;
  --h1-29-letter-spacing: 0px;
  --h1-29-line-height: 139.9999976158142%;
  --h1-29-font-style: normal;
  --h1-45-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-45-font-weight: 200;
  --h1-45-font-size: 23px;
  --h1-45-letter-spacing: 0px;
  --h1-45-line-height: 139.9999976158142%;
  --h1-45-font-style: normal;
  --h1-40-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --h1-40-font-weight: 200;
  --h1-40-font-size: 23px;
  --h1-40-letter-spacing: 0px;
  --h1-40-line-height: 139.9999976158142%;
  --h1-40-font-style: normal;
  --h1-35-font-family: "VisbyRound CF-Light", Helvetica;
  --h1-35-font-weight: 300;
  --h1-35-font-size: 23px;
  --h1-35-letter-spacing: 0px;
  --h1-35-line-height: 139.9999976158142%;
  --h1-35-font-style: normal;
  --h1-5-font-family: "VisbyRound CF-ExtraBold", Helvetica;
  --h1-5-font-weight: 800;
  --h1-5-font-size: 23px;
  --h1-5-letter-spacing: 0px;
  --h1-5-line-height: 139.9999976158142%;
  --h1-5-font-style: normal;
  --h1-10-font-family: "VisbyRound CF-Medium", Helvetica;
  --h1-10-font-weight: 500;
  --h1-10-font-size: 23px;
  --h1-10-letter-spacing: 0px;
  --h1-10-line-height: 139.9999976158142%;
  --h1-10-font-style: normal;
  --h1-15-font-family: "VisbyRound CF-DemiBold", Helvetica;
  --h1-15-font-weight: 700;
  --h1-15-font-size: 23px;
  --h1-15-letter-spacing: 0px;
  --h1-15-line-height: 139.9999976158142%;
  --h1-15-font-style: normal;
  --h1-20-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-20-font-weight: 700;
  --h1-20-font-size: 23px;
  --h1-20-letter-spacing: 0px;
  --h1-20-line-height: 139.9999976158142%;
  --h1-20-font-style: normal;
  --h1-25-font-family: "VisbyRound CF-Bold", Helvetica;
  --h1-25-font-weight: 700;
  --h1-25-font-size: 23px;
  --h1-25-letter-spacing: 0px;
  --h1-25-line-height: 139.9999976158142%;
  --h1-25-font-style: normal;
  --h1-30-font-family: "VisbyRound CF-Heavy", Helvetica;
  --h1-30-font-weight: 400;
  --h1-30-font-size: 23px;
  --h1-30-letter-spacing: 0px;
  --h1-30-line-height: 139.9999976158142%;
  --h1-30-font-style: normal;
  --title-17-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --title-17-font-weight: 200;
  --title-17-font-size: 19px;
  --title-17-letter-spacing: 0px;
  --title-17-line-height: 139.9999976158142%;
  --title-17-font-style: normal;
  --title-15-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --title-15-font-weight: 200;
  --title-15-font-size: 19px;
  --title-15-letter-spacing: 0px;
  --title-15-line-height: 139.9999976158142%;
  --title-15-font-style: normal;
  --title-13-font-family: "VisbyRound CF-Light", Helvetica;
  --title-13-font-weight: 300;
  --title-13-font-size: 19px;
  --title-13-letter-spacing: 0px;
  --title-13-line-height: 139.9999976158142%;
  --title-13-font-style: normal;
  --title-1-font-family: "VisbyRound CF-ExtraBold", Helvetica;
  --title-1-font-weight: 800;
  --title-1-font-size: 19px;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 139.9999976158142%;
  --title-1-font-style: normal;
  --title-3-font-family: "VisbyRound CF-Medium", Helvetica;
  --title-3-font-weight: 500;
  --title-3-font-size: 19px;
  --title-3-letter-spacing: 0px;
  --title-3-line-height: 139.9999976158142%;
  --title-3-font-style: normal;
  --title-5-font-family: "VisbyRound CF-DemiBold", Helvetica;
  --title-5-font-weight: 700;
  --title-5-font-size: 19px;
  --title-5-letter-spacing: 0px;
  --title-5-line-height: 139.9999976158142%;
  --title-5-font-style: normal;
  --title-7-font-family: "VisbyRound CF-Bold", Helvetica;
  --title-7-font-weight: 700;
  --title-7-font-size: 19px;
  --title-7-letter-spacing: 0px;
  --title-7-line-height: 139.9999976158142%;
  --title-7-font-style: normal;
  --title-9-font-family: "VisbyRound CF-Bold", Helvetica;
  --title-9-font-weight: 700;
  --title-9-font-size: 19px;
  --title-9-letter-spacing: 0px;
  --title-9-line-height: 139.9999976158142%;
  --title-9-font-style: normal;
  --title-11-font-family: "VisbyRound CF-Heavy", Helvetica;
  --title-11-font-weight: 400;
  --title-11-font-size: 19px;
  --title-11-letter-spacing: 0px;
  --title-11-line-height: 139.9999976158142%;
  --title-11-font-style: normal;
  --title-18-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --title-18-font-weight: 200;
  --title-18-font-size: 16px;
  --title-18-letter-spacing: 0px;
  --title-18-line-height: 139.9999976158142%;
  --title-18-font-style: normal;
  --title-16-font-family: "VisbyRound CF-ExtraLight", Helvetica;
  --title-16-font-weight: 200;
  --title-16-font-size: 16px;
  --title-16-letter-spacing: 0px;
  --title-16-line-height: 139.9999976158142%;
  --title-16-font-style: normal;
  --title-14-font-family: "VisbyRound CF-Light", Helvetica;
  --title-14-font-weight: 300;
  --title-14-font-size: 16px;
  --title-14-letter-spacing: 0px;
  --title-14-line-height: 139.9999976158142%;
  --title-14-font-style: normal;
  --title-2-font-family: "VisbyRound CF-ExtraBold", Helvetica;
  --title-2-font-weight: 800;
  --title-2-font-size: 16px;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 139.9999976158142%;
  --title-2-font-style: normal;
  --title-4-font-family: "VisbyRound CF-Medium", Helvetica;
  --title-4-font-weight: 500;
  --title-4-font-size: 16px;
  --title-4-letter-spacing: 0px;
  --title-4-line-height: 139.9999976158142%;
  --title-4-font-style: normal;
  --title-6-font-family: "VisbyRound CF-DemiBold", Helvetica;
  --title-6-font-weight: 700;
  --title-6-font-size: 16px;
  --title-6-letter-spacing: 0px;
  --title-6-line-height: 139.9999976158142%;
  --title-6-font-style: normal;
  --title-8-font-family: "VisbyRound CF-Bold", Helvetica;
  --title-8-font-weight: 700;
  --title-8-font-size: 16px;
  --title-8-letter-spacing: 0px;
  --title-8-line-height: 139.9999976158142%;
  --title-8-font-style: normal;
  --title-10-font-family: "VisbyRound CF-Bold", Helvetica;
  --title-10-font-weight: 700;
  --title-10-font-size: 16px;
  --title-10-letter-spacing: 0px;
  --title-10-line-height: 139.9999976158142%;
  --title-10-font-style: normal;
  --title-12-font-family: "VisbyRound CF-Heavy", Helvetica;
  --title-12-font-weight: 400;
  --title-12-font-size: 16px;
  --title-12-letter-spacing: 0px;
  --title-12-line-height: 139.9999976158142%;
  --title-12-font-style: normal;
  --body-font-family: "VisbyRound CF-Heavy", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: 0px;
  --body-line-height: 139.9999976158142%;
  --body-font-style: normal;
  --caption-font-family: "VisbyRound CF-Heavy", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 11px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 139.9999976158142%;
  --caption-font-style: normal;
}
